
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  /* width: 100%; */
  /* height: 100%; */
 
}
/* 
.center {
  width: 80%;
  margin: auto;
} */

.container {
  /* max-width:1100px ; */
  max-width: 80% ;

  margin:  0 auto;
  padding: 2% 0;

}
/* Start navbar  style*/

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px;
  text-align: center; 
}

.navbar__logo {
  width: 10%;
  margin-right: 5%;
  
}

.navbar__menu {
 display: flex;
 list-style-type: none;
 width: 40%;
 justify-content: space-evenly;
}
.navbar__menu-item > a {
  width: 90%;
  text-decoration: none;
  font-size: 18px;
  transition: 0.8s;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #35414B;

}
.navbar__menu-item:nth-child(1){
  background: url(/img/downstrela.svg) no-repeat right center;
  padding-right: 13px ;

}
.navbar__menu-item:nth-child(2){
  background: url(/img/downstrela.svg) no-repeat right center;
  padding-right: 13px ;
}
.navbar__menu-item:nth-child(4) {
  background: url(/img/downstrela.svg) no-repeat right center ;
  padding-right: 13px ;
}


.navbar__menu-item > a:hover {
  color: #0707f7;
  transition: 0.8s;
}
.navbar__input {
  padding: 16px 24px;
  background: #ECE6FF;
  border-radius: 4px;
  border: 1px solid #ECE6FF ;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #794CFF;

}
.navbar__top{
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.navbar__top-title {
  padding: 8px 16px;
  background: #81C43B;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
.navbar__right-title {
  padding: 8px 22px 8px 40px;
  background: #F2F9EB;
  border-radius: 0px 100px 100px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #35414B;
}
/* navbar style start */


/* header style start */

header {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}
.header__wrap {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.header__title {
  max-width: 770px;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  color: #35414B;
  margin: 0 auto;
  margin-bottom: 24px;
}
.header__title-desc {
  max-width: 505px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4E5A65;
  margin: 0 auto;
  margin-bottom: 24px;
}

.header__input {
  width: 319px;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #E1E5EA;
  border-radius: 4px 0px 0px 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #97A5B5;
  padding-left: 20px;
}
.header__search {
 
  padding: 19px 45px;
  background: #794CFF;
  border: 1px solid #794CFF;
  border-radius: 0px 4px 4px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-left: -7px;
  transition: 0.5s;
}
.header__search:hover, .header__search:focus, .header__search:active {
  background: #311a74 ;
  transition: 0.5s;
}
.header__pic {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.header__bottom-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #4E5A65;
  margin-bottom: 30px;
}
.header__botttom {
  display: flex;
  justify-content:space-around;
}
/* header style start */

/* benefits style start */

.benefits {
  background: #FBFAFE;
  border: 1px dashed #F0EBFA;
  width: 100% ;
  height: 640px;
  margin-bottom: 100px;

}
.benefits__wrap{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.benefits__left-pic {
  width: 80%;
  margin-top: 41px;
  margin-left: 50px;
}
.benefits__right{
 display: flex;
 justify-content: space-between;
}

.benefits__title{
  max-width: 310px;
  margin-bottom: 52px;
  margin-top: 65px;

}
.benefits__title:hover {
  border-left: 5px solid #794CFF;
  background-color: #F6F3FC;
}


/* .benefits__title1::before{
  content: url(/img/linia.svg) ;
} */
.benefits__top-title1{
/* margin-top: -110px; */
margin-left: 25px; 
 margin-bottom: 10px;
font-weight: 600;
font-size: 18px;
line-height: 18px;
color: #35414B;
}
.benefits__top-desc1{
  margin-left: 25px;

}
.benefits__top-title{
  max-width: 308px;
  margin-left: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #35414B;
  margin-bottom: 10px;
}
.benefits__top-desc{
  margin-left: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4E5A65;
}
/* benefits style end */

/* intro style start */

.intro__wrap{
  width: 90%;
  margin:  auto;
}
.intro_title{
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #35414B;
  margin-bottom: 56px;
}
.intro__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 120px;
}
.intro__card {
  margin: auto;
}
.intro__subtitle{
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  /* display: flex; */
  align-items: center;
  color: #35414B;
  margin:  auto;
  margin-bottom: 15px;
}

.intro__card-desc{
  max-width: 306px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4E5A65;
  margin: auto;
}
.intro__card-pic{
  margin-bottom: 20px;
}
.intro__card{
  margin-bottom: 80px;
}
/* intro style end */

/* start style services */

.services {
  background: #FBFAFE;
  border: 1px dashed #F0EBFA;
  width: 100% ;
  height: 540px;
  margin-bottom: 200px;
}
.services__wrap-wrap {
  width: 90%;
  margin: 0 auto;
}
.services__wrap {
  width: 90%;
   display: flex; 
  margin: 0 auto;
  margin-bottom: 150px;
}
.servicec__left {
  width: 50%;
}
.services__title{
  margin-top: 132px;
  max-width: 341px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;  
  color: #35414B;
  margin-bottom: 24px;
}
.services__desc {
  max-width: 413px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4E5A65;
  margin-bottom: 32px;
}
.services__search {
  padding: 18px 21px;
  background: #796EFF;
  border-radius: 4px;
  border: 1px solid #796EFF ;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.5s;
}
.services__search:hover, .services__search:focus, .services__search:active {
  background: #311a74 ;
  transition: 0.5s;
}
.services__right-pic{
  margin-top: 69px;
 width: 100%;
}
.services__top-title {
  margin:  0 auto;
  text-align: center;
  max-width: 394px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #35414B;
  margin-bottom: 48px;
}
.servicse__top-desc {
  max-width: 593px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #4E5A65;
  margin-bottom: 48px;
}
.services__linia {
  margin-left: 100px;
  margin-bottom: 28px;
}
.services__cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 104px;
}

.services__card {
  display: flex;
}
.services__card-titles{
  margin-left: 15px;
}
.services__card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #4E5A65;
}
.services__card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #4E5A65;
  margin-top: 10px;
}
.services__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  background: #796EFF;
  height: 224px;
  border-radius: 16px;
  margin-bottom: 100px;
}

.services__top-subtitle {
  max-width: 423px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}
.services__top-icon {
  margin-right: 25px;
}

/* end style services */

/* footer start */

.footer {
  width: 100%;
  height: 370px;
  background: #1D2830;
  padding-right: 1px;
}
.footer__menu {
  display: flex;
  justify-content: space-around;
}
.footer__burger-strela1 {
  margin-left: 250px;

}
.footer__burger-strela2 {
  margin-left: 260px;
}
.footer__burger-strela3 {
  margin-left: 283px;
}

.footer__menu-item {
  list-style: none;
  margin-top: 60px;
}
h4 {
  color: white;
}
li a{
  text-decoration: none;
  line-height: 40px;
  color: white;
  transition: 0.5s;
}
.footer__nemu-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #F4F5F7;
}
.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
  opacity: 0.75;
  transition: 0.5s;
}
.footer__menu-pic {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.footer__end {
  display: flex;
  justify-content: space-between;
  margin-right: 180px;
}
.footer__end-desc {
  margin-top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #D9DBE1;
  margin-left: 125px;
}
.footer__end-img {
  margin-top: 20px;
}
.footer__end-pic {
  margin-right: 20px;
}
.footer__hr {
  margin-top: 70px;
  background: #FFFFFF;
  opacity: 0.1;
}
.footer__burger-strela1 {
  display: none;
}
.footer__burger-strela2 {
  display: none;
}
.footer__burger-strela3 {
  display: none;
}
.burger {
  display: none;
}
/* footer style end */
.burger1 {
  margin-bottom: 100px;
  display: none;
}
.burger__menu-list {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-evenly;
 }
 .burger__menu-item > a {
  width: 90%;
  text-decoration: none;
  font-size: 18px;
  transition: 0.8s;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #35414B;

}